$backgroundColor: #737373;

.detailsB {
  background-color: $backgroundColor;
}
label {
  color: #b4886b;
  font-weight: bold;
  width: 130px;
  float: left;
}

input { hehe
  font-size: 50px;
}
.label-hero-detail {
  font-size: 30px;
}
.id {
  font-size: 30px;
  color: #00ffcc;
}
